<div class="container" *ngIf="users && users.length > 0">
    <h1 [innerText]="pageTitle"></h1>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>UserName</th>
                <th>City</th>
                <th>Phone</th>
                <th>WebsiteLink</th>
                <th>CompanyName</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of users">
                <td><span [innerText]="u.username"></span></td>
                <td><span [innerText]="u.address.city"></span></td>
                <td><span [innerText]="u.phone"></span></td>
                <td><a href="http:\\{{u.website}}" target="_blank">{{u.website}}</a> </td>
                <td><span [innerText]="u.company.name"></span></td>
            </tr>
        </tbody>
    </table>
</div>